/* a simple reset as a test  */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,ol,ul,li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ol,ul{
	list-style: none;
}

:focus{
	outline:0
}

body {
	color: #fff;
	background-color: #000;
	font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	font-size: 0.70em;
	line-height: 1.4em;
}

nav,
section,
header,
footer{
	display: block;
}

a:link,
a:visited,
a:active{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #ffb643;
	text-decoration: none;
}

a img,
a:visited img,
a:active img{
	border: 1px solid #666;
	margin: 0;
	padding: 0;
}

a:hover img,
.active a img{
	border-color: #fff;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
	line-height: 0;
	height: 0;
	font-size: 0;
}

#wrapper{
	clear: both;
	z-index:1;
	height: auto;
	padding: 0;
	color: #666;
	width: 100%;
}

header{
	margin: 5px 5px 0 5px;
	height: auto;
	padding: 15px 0 0 20px;
	clear: both;
	background-color: #111;
}

#tab{
	z-index: 10;
	margin: 0;
	height: auto;
	width: auto;
}
#content{
	margin: 5px 5px 5px 5px;
	clear: both;
	min-height: 600px;
}

footer{
	clear: both;
	z-index:1;
	display: block;
	height: 101px;
	width: auto;
	position: absolute;
	bottom: -100px;
	width: 100%;
	background-color: #111;
}

header h1{
	padding: 1px;
	margin: 0 0 16px 0;
	font-size: 13px;
	line-height: 1.2;
	color: #555;
}

#tab ul{
	font: 9px verdana, arial, sans-serif;
	list-style-type: none;
	height: 19px;
	margin: 0;
}

#tab li{
	float: left;
	height: 17px;
	margin: 0 5px 0 0;
	border: 1px solid #333;
}

#tab li#active {
	border: 1px solid #333;
}

#tab li#active a{
	color: #fff;
	background-color: #000;
	border-bottom: 1px solid #000;
}

#tab a{
	float: left;
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	background-color: #666;
	color: #000;
}

#tab a:hover{
	color: #fff;
	background-color: #000;
	border-bottom: 1px solid #000;
}

#thumbs{
	float: left;
	width: 100%;
	height: auto;
	margin: 30px 60px 0 60px;
	color: #666;
}

#thumbs img{
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
	padding: 0;
}

#picture{
	float: left;
	width: 50%;
	height: auto;
	margin: 30px 30px 0 0;
	color: #666;
}

#big_picture{
	margin: 5px 0 5px 0;
	width: 100%;
	color: #666;
}

/* center it by a width of 80% */
#big_picture div{
	margin: 0 auto 0 auto;
	width: 80%;
}

#big_picture img{
	position:absolute;
	z-index:1;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 10px 20px 0 20px;
	height:1.4em;
}

footer li{
	margin: 0 15px 0 0;
	padding: 0;
	font-size: 9px;
	color: #999;
	float: left;
	letter-spacing: 1px;
}

footer a:link,
footer a:visited,
footer a:active{
	color : #999;
	text-decoration: none;
}

footer a:hover{
	color: #ffb643;
	text-decoration: none;
}

#description{
	clear: both;
	background-color: #111;
	color: #444;
	padding: 0 20px 0 20px;
	margin: 0;
}

#leftControl,#left-btn{
	width: 53px;
	height: 100px;
	background:transparent url(../image/left.png) no-repeat 0 0;
	float: left;
}



#rightControl,#right-btn{
	width: 43px;
	height: 100px;
	background:transparent url(../image/right.png) no-repeat 0 0;
	float: left;
}

